.a-cards-contianer {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}

.a-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 50px;
  place-items: center;
  max-width: 1130px;
  margin: 0 auto;
}

@media (max-width: 575px) {
  .a-cards {
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr)) !important;
    width: 400px;
  }
}
