.container {
  max-width: 600px;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 5px 4px 17px 3px #000000b8;
  position: fixed;
  top: -62px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  transition: all 0.5s linear;
}
.container::before {
  content: "";
  width: 55%;
  height: 22px;
  background-color: var(--orange);
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.container:hover {
  top: 0;
}

nav {
  height: 100%;
}

nav .n-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
}

nav a {
  color: var(--blueCard);
  font-size: 20px;
  font-weight: bold;
}
nav a:hover,
nav a.active {
  color: var(--yellow);
}

@media (max-width: 575px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    top: 0px;
    border-radius: 0%;
  }

  .container::before {
    content: unset;
  }
  .n-logo,
  .n-icon {
    padding: 0 20px;
    cursor: pointer;
  }

  .n-logo h3 {
    font-size: 25px;
    font-weight: bold;
    font-family: inherit;
    letter-spacing: 2px;
    color: var(--yellow);
  }

  .n-icon {
    color: var(--yellow);
    padding-top: 12.5px;
  }

  nav .n-links {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 230px;
    width: 100%;
    position: absolute;
    top: -290px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 4px 31px 1px #000000a6;
    transition: top 0.4s;
  }

  nav .active {
    top: 61px;
  }
}

@media (min-width: 576px) {
  .n-logo {
    display: none;
  }
  .n-icon {
    display: none;
  }
  .n-links {
    height: 100%;
  }
}
